.Carousel {
  position: relative;
}

.code-show {
  margin: 0;
}

.carousel-inner {
  display: flex;
  align-items: center;
}

div.carousel-indicators {
  border-radius: 0 0 10px 10px;
  bottom: -22px;
  margin-bottom: 0;
  background-color: rgb(120, 120, 120);
}