.Carousel {
  width: 300px;
  height: 350px;
  display: flex;
  align-items: center;
  background-color: #1e1e1e;
  border-radius: 5px;
}

.carousel-inner {
  display: flex;
  align-items: center;
}

.carousel img {
  max-width: 300px;
  max-height: auto;
  cursor: pointer;
}