.fullscreen-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.fullscreen-background {
  background-image: url(../../images/bg-fullscreen.jpg);
  color: white;
  display: flex;
  min-height: 92.5vh;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.fullscreen_title {
  text-align: center;
  max-width: 350px;
  text-shadow: 2.5px 2.5px 5px rgb(198, 120, 221);
}

.language-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.language-button {
  padding: 2.5px 25px;
  margin: 0 1.5px;
  color: black;
  background-color: white;
  border: 2.5px solid #535362;
  border-radius: 10px;
  transition: all 0.3s;
}

.language-button:hover {
  background-color:rgb(203, 202, 202);
  border: 2.5px solid rgb(181, 180, 180);
  color: white;
}

.selected {
  background-color: #535362;
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

scrollbar {
  width: 8px;
  height: 8px;
}

scrollbar-track {
  background: #f1f1f1;
}

scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

scrollbar-thumb:hover {
  background: #555;
}
