.card-item {
    border-radius: 10px;
    width: 100vh;
}

.card-body {
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-text {
    height: 170px;
}

#doc-button {
    margin-top: 15px;
    padding: 0;
    background: rgb(140, 149, 156);
    border: none;
}

.doc-link {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}
  
.doc-link:hover {
    color: white;
}

#code-button {
    padding: 10px;
    background: rgb(120, 120, 120);
    border: none;
    margin-top: 10px;
}

.code-show {
    border-radius: 10px 10px 0 0;
    height: auto;
}

.carousel .code-show {
    height: 350px;
}

@media (max-width: 600px) {
    .card-item {
        width: 45vh;
    }
}