.Prompt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5px;
    padding: 25px;
    border-radius: 15px;
    background-color: rgb(31, 31, 31);
}

.Prompt h1 {
    color: white;
}

.Prompt .colors {
    display: flex;
    justify-content: center;
}

.Prompt .colors .HTML-sample{
    border: 2.5px solid rgb(203, 68, 0);
    color: white;
    background-color:rgb(255, 115, 0);
    padding: 10px;
    margin: 0 10px;
    border-radius: 5px;
}

.Prompt .colors .CSS-sample{
    text-align: center;
    width: 40px;
    border: 2.5px solid rgb(11, 3, 52);
    color: white;
    background-color:rgb(61, 0, 228);
    padding: 10px;
    margin: 0 10px;
    border-radius: 5px;
}

.Prompt .colors .JS-sample{
    text-align: center;
    width: 40px;
    border: 2.5px solid rgb(255, 255, 0);
    color: white;
    background-color:rgb(142, 142, 0);
    padding: 10px;
    margin: 0 10px;
    border-radius: 5px;
}