.Footer {
    height: 150px;
    background-color: rgb(140, 149, 156);
    margin-top: 16%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.Footer img {
    width: 125px;
    height: 125px;
}

.Footer h1 {
    color: white;
}