.Footer {
    background-color: rgb(140, 149, 156);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    margin-top: auto;
}

.Footer img {
    width: 50px;
    height: 50px;
}

.Footer h5 {
    color: white;
}