.Form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
}

.searcher {
  padding: 5px;
  border-radius: 20px;
  border: 5px solid rgb(140, 149, 156);
  width: 300px;
}

.Header {
  background-color: rgb(140, 149, 156);
}

nav.navbar {
  padding: 0;
  margin: 0;
}

.Types-bar {
  display: grid;
  grid-template-columns: repeat(3, auto);
  margin-top: 2rem;
}

.type-bar {
  background-color: white;
  border: 5px solid rgb(140, 149, 156);
  border-radius: 20px;
  margin: 2.5px;
  padding: 7.5px;
  transition: all 0.5s;
}

.type-bar:hover {
  background-color:rgb(169, 180, 188);
  border: 5px solid rgb(215, 214, 214);
  color: white;
}

.clicked {
  background-color:rgb(140, 149, 156);
  border: 5px solid white;
  color: white;
}

.main-links {
  display: flex;
}

.nav-item .nav-link {
  color: white;
  font-size: 25px;
  font-weight: bold;
  padding: 20px 25px;
}

.nav-item .active {
  background-color: white;
}

.languageOption {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.language-button {
  padding: 2.5px 25px;
  margin: 0 1.5px;
  color: black;
  background-color: white;
  border: 2.5px solid #535362;
  border-radius: 10px;
  transition: all 0.3s;
}

.language-button:hover {
  background-color:rgb(203, 202, 202);
  border: 2.5px solid rgb(181, 180, 180);
  color: white;
}

.selected {
  background-color: #535362;
  color: white;
}

.error-caption {
  text-align: center;
  font-size: 30px;
  color: rgb(140, 149, 156);
}

.card-item {
  width: 350px;
}

.img-wrapper {
  background-color: rgb(180, 189, 196);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
}

.card-img {
  max-width: 300px;
  max-height: auto;
}

.card-body {
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-title {
  height: 95px;
}

.card-text {
  height: 170px;
}

.doc-link {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.doc-link:hover {
  color: white;
}

